<html>

<head>
    <title>Park & Ride Navigator</title>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script
        src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/index.js"></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/index.css" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />
</head>

<body>
    <h1>Park & Ride Navigator</h1>

    <form onsubmit="return getRoute()">
        Starting address:<br>
        <input type="text" id="startAddress"><br>
        Destination address:<br>
        <input type="text" id="endAddress">
        <input type="submit" value="Find route">
    </form>

    <div id="map"></div>

</body>
</html>