
#map {
    height: 80vh;
    width: 40vw;
}

.list-group-item {
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,.250);
}

.unselectable {
	 user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
